@import 'global';
@import 'fonts';
@import 'pilot-reset/main';

// variables
$gutter: 16px;

body {
  font: 400 1rem/1 Gidole, sans-serif;
  background: $light;
}

.app-view {
  flex: 1;
  padding: $gutter * 2;
}

.app-side {
  display: flex;
  flex-flow: column;
  width: 256px;
  padding: $gutter 0;
  color: $light;
  background: linear-gradient($emerald-dark 12.5%, $emerald-light 87.5%);

  a {
    padding: $gutter ($gutter * 2);

    &:hover {
      border-radius: 2px;
      text-decoration: none;
      background: linear-gradient(90deg, $emerald-light, transparent);
    }
  }
}

.app {
  display: flex;
  height: 100vh;
}
