@import 'global';
@import 'fonts';
@import 'pilot-reset/main';

// variables
$gutter: 16px;

// computed variables

* {
  &::selection {
    background: $blue-2;
  }
}

body {
  color: $dark-1;
  font: 400 1rem/1 Gidole, sans-serif;
}

.app-view {
  flex: 1;
  padding: $gutter * 2;
}

.app-rule {
  width: 2px;
  background: linear-gradient(transparent, $light-1, transparent);
}

.app-side {
  display: flex;
  flex-flow: column;
  width: 256px;
  padding: $gutter;

  a {
    padding: $gutter;

    &:hover {
      border-radius: 2px;
      text-decoration: none;
      background: $light-1;
    }
  }
}

.app {
  display: flex;
  height: 100vh;
}
