//
// # Basic
// =============================================================================

$black: #000;
$white: #fff;
$gray: rgb(127, 127, 127);

//
// # General
// =============================================================================

$red:    rgb(223, 31, 47);
$yellow: rgb(223, 159, 31);
$green:  rgb(127, 191, 63);
$blue:   rgb(31, 159, 223);

//
// # Selection
// =============================================================================

$blue-1: $blue;
$blue-2: rgba($blue-1, 0.5);
$blue-3: rgba($blue-1, 0.25);

$red-1: $red;
$red-2: rgba($red-1, 0.5);
$red-3: rgba($red-1, 0.25);

$mono: rgb(95, 127, 143);
$mono-1: rgba($mono, 0.2);
$mono-2: rgba($mono, 0.4);
$mono-3: rgba($mono, 0.6);

//
// # Neutral
// =============================================================================

$dark-1: rgb(31, 33, 35);
$dark-2: rgb(23, 25, 27);
$dark-3: rgb(15, 17, 19);

$light-1: rgb(235, 237, 239);
$light-2: rgb(227, 229, 231);
$light-3: rgb(219, 221, 223);

$mix-1: mix($light-1, $dark-1, 25%);
$mix-2: mix($light-1, $dark-1, 12.5%);

$placeholder-1: mix($light-1, $dark-1, 75%);
