//
// # Basic
// =============================================================================

$black: #000;
$white: #fff;
$gray: rgb(127, 127, 127);

//
// # General
// =============================================================================

$red:    rgb(223, 31, 47);
$yellow: rgb(223, 159, 31);
$green:  rgb(127, 191, 63);
$blue:   rgb(31, 159, 223);

//
// # Colors
// =============================================================================

$light: rgb(247, 245, 243);
$emerald-light: rgb(159, 191, 191);
$emerald-dark: rgb(127, 171, 171);
