@font-face {
  font-family: Gidole;
  src: local('Gidole'), url('assets/Gidole-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Gidolinya;
  src: local('Gidolinya'), url('assets/Gidolinya-Regular.otf') format('opentype');
}
